.default-btn {
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--clr-quinary);
    font-size: 1rem;

}

.default-btn:active {
    background-color: var(--clr-quinary-alternate);
}

.add-item-btn,
.remove-item-btn {
    margin-top: 0.3rem;
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--clr-quinary);
    font-size: 1rem;
    width: 100%;
}