footer {
    font-family: var(--font-title);
    font-size: 1.2rem;
    background-color: var(--clr-primary);
    padding: 0.5em 0;
    color: var(--clr-light);
    text-align: center;
    display: flex;
    justify-content: center;
}
.copyright {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.copyright-item {
    display: flex;
    justify-content: center;
}
.copyright-item:nth-child(1) {
    width: 100%;
}

.copyright-item:last-child::before {
    content: '|';
    width: 1rem;
}

.copyright-link:active {
    opacity: 0.75;
}

.credit {
    display: flex;
    gap: 0.5rem;
}

.credit-img {
    vertical-align: middle;
    width: 1em;
    filter: var(--inverted-constant);
}

.lng-button {
    background: none;
    border: 1px solid var(--clr-secondary);
    border-radius: 0.6rem;
    padding: 0.4rem;
    display: flex;
    align-self:center;
}
  
.lng-button-text {
    font-weight: 600;
    color: var(--clr-light);
}