header {
  background: var(--clr-primary);
  background-image: linear-gradient(
    to right,
    var(--clr-primary),
    var(--clr-secondary) 130%
  );
  padding: 0.5em 0;
  font-family: var(--font-title);
  font-size: 1.5rem;
  color: var(--clr-light);
}

.header-logo-and-theme {
    display: flex;
    align-items: center;
}

.logo {
    width: 5rem;
}

.logo img {
    vertical-align: middle;
}

.navbar-list {
  list-style: none;
}

.navbar-link {
    text-decoration: none;
    color: var(--clr-light);
}

.mobile-nav {
  flex: 1;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 50%;
  background-color: var(--clr-secondary);
  transition: opacity 250ms ease;
}

.hamburger {
  width: 50%;
  height: 3px;
  display: block;
  margin: 3px auto;
  background-color: var(--clr-light);
}

.header-navbar {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
  justify-content: center;
}

.nav-visible {
  display: flex;
  flex-direction: column;
  max-height: 8rem;
  transition: max-height 0.3s;
}

.theme {
  display: flex;
  align-items: center;
}

.select-theme {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-light);
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--font-title);
}

.select-theme option {
  color: var(--foreground);
  background-color: var(--background-secondary);
}

.theme-icon::before {
  content: var(--theme-icon);
  color: var(--clr-light);
  font-size: 1.2rem;
}

@media (min-width: 700px) {
}

@media (min-width: 1000px) {
}